* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 10px 0px;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(123, 209, 212) 91%);
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0px 0px 0px 20px;
    width: 75%;
}

.photo {
    display: flex;
    height: 90px;
    justify-content: end;
    align-self: center;
    width: 25%;
    margin: 0px 20px 0px 0px;
}

.photo:hover {
    cursor: pointer;
    height: 150px;
}

main {
    border-top: solid 1px black;
    width: 100%;
    background-color: mintcream;
    align-content: center;
}

article {
    opacity: 0;
    transition: opacity 0.4s ease-in;
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
    padding: 10px 0px;
}

section {
    padding: 15px 20px;
    margin: 15px 0px;
    align-items: flex-start;
    justify-content: start;
    width: 60%;
    background: linear-gradient(0deg, rgb(255, 255, 255) 2%, rgb(123, 209, 212) 100%);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2)
}

h2 {
    margin-bottom: 8px;
}

.sections {
    text-align: justify;
}

@media only screen and (max-device-width: 550px) {
    h1 {
        font-size: 170%;
    }
    section {
        width: 100%;
    }
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    background: rgb(123, 209, 212);
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: rgb(121, 39, 39);
    text-decoration: underline rgb(121, 39, 39);
    cursor: pointer;
}